---
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../lib/formatDate";
import { Link } from "../lib/Link";
import { Paragraph } from "../lib/prose/Paragraph";
import type { PostFrontmatter } from "../types";

let posts = await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx");

if (import.meta.env.PROD) {
  posts = posts.filter((post) => !post.frontmatter.draft);
}

posts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
---

<BaseLayout
  title="Noted by Arjun"
  description="Noted by arjun aditya also known as nermalcat69 where i share my notes and resources"
>
  <h1 slot="header-content" class="text-gray-600 dark:text-gray-500">noted by arjun</h1>
  <main class="py-10 zaduma-prose">
    <Paragraph>
       Noted by arjun aditya aka nermal is a site where i share my notes and resources.
       <span class="block">Look at the notes below and if you want to support me my work you can follow me on 
      <Link href="https://twitter.com/nermalcat69">twitter</Link>, or even sponsor me. I hope you love my content.</span>
      <span class="block pt-6">Check out my <Link href="/">personal website</Link> or my <Link href="https://github.com/nermalcat69">github</Link></span>
    </Paragraph>
    <iframe src="https://github.com/sponsors/nermalcat69/button" title="Sponsor nermalcat69" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
  </main>
  <ul>
    {
      posts.map(({ frontmatter }) => {
        const date = new Date(frontmatter.date);

        return (
          <li>
            <Link
              href={frontmatter.path}
              class="flex flex-row gap-2 justify-between"
              noUnderline
            >
              <h2 class="text-gray-800 dark:text-gray-300 font-sans">
                {frontmatter.title}
              </h2>
              <time
                datetime={date.toISOString()}
                class="text-gray-600 dark:text-gray-400 tabular-nums tracking-tighter shrink-0"
              >
                {formatDate(date)}
              </time>
            </Link>
          </li>
        );
      })
    }
  </ul>
  <style>
    ul:hover li:not(:hover) :where(h2, time) {
      @apply text-gray-600 transition-colors;
      :global(.dark) & {
        @apply text-gray-500;
      }
    }
  </style>
</BaseLayout>
